#ShoppingCart {
  position: relative;
  left: 10px;
  top: 15px;
  height: 40px;
}

#ShoppingCart > img {
  cursor: pointer;
}

#shoppingcartAlert {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: red;
  position: relative;
  top: -55px;
  left: 25px;
  cursor: pointer;
}

#shoppingcartAlert > p {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: -11px;
  left: 6px;
  color: white;
  font-size: 14px;
}
