@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

}

#Header-Logo > div > p {
  position: relative;
  top: -35px;
  font-size: 18px;
}

nav {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  left: -50px;
  top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

nav > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*

MENY + PRODUKTER

*/

#Meny-Container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.Produkt-Container {
  transform: scale(1);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1.5px 1.5px 1.5px rgb(196, 192, 192);
}

.Produkt-Container:hover {
  transform: scale(1.08);
  transition: all 180ms ease-in;
}

.ProduktBilde-Container {
  width: 300px;
  height: 203px;
  text-align: center;
}

.Tekst-Container {
  position: relative;
  left: 2px;
  width: 305px;
  height: 170px;
  text-align: left;
}

.Tekst-Container > p:nth-child(2) {
  font-family: "Poppins";
  font-size: 13px;
}
