body {
    padding: 0px;
    margin: 0px;
}

#Meny-Container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.Produkt-Container {
    transform: scale(1);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1.0px 1.5px 1.5px 1.5px rgb(196, 192, 192);
}

.Produkt-Container:hover {
    transform: scale(1.08);
    transition: all 180ms ease-in;
}

.Tekst-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}